<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/navbar') %>
    <div id="content">
      <p
        >Lorem ipsum dolor, sit amet consectetur adipisicing elit. Assumenda
        doloribus voluptate dolor recusandae asperiores quas repudiandae, quis
        autem minus quisquam alias optio in excepturi architecto illum neque
        expedita tempora eum. Lorem ipsum dolor, sit amet consectetur
        adipisicing elit. Assumenda doloribus voluptate dolor recusandae
        asperiores quas repudiandae, quis autem minus quisquam alias optio in
        excepturi architecto illum neque expedita tempora eum. Lorem ipsum
        dolor, sit amet consectetur adipisicing elit. Assumenda doloribus
        voluptate dolor recusandae asperiores quas repudiandae, quis autem minus
        quisquam alias optio in excepturi architecto illum neque expedita
        tempora eum.Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Assumenda doloribus voluptate dolor recusandae asperiores quas
        repudiandae, quis autem minus quisquam alias optio in excepturi
        architecto illum neque expedita tempora eum.Lorem ipsum dolor, sit amet
        consectetur adipisicing elit. Assumenda doloribus voluptate dolor
        recusandae asperiores quas repudiandae, quis autem minus quisquam alias
        optio in excepturi architecto illum neque expedita tempora eum.Lorem
        ipsum dolor, sit amet consectetur adipisicing elit. Assumenda doloribus
        voluptate dolor recusandae asperiores quas repudiandae, quis autem minus
        quisquam alias optio in excepturi architecto illum neque expedita
        tempora eum.Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Assumenda doloribus voluptate dolor recusandae asperiores quas
        repudiandae, quis autem minus quisquam alias optio in excepturi
        architecto illum neque expedita tempora eum.Lorem ipsum dolor, sit amet
        consectetur adipisicing elit. Assumenda doloribus voluptate dolor
        recusandae asperiores quas repudiandae, quis autem minus quisquam alias
        optio in eum.Lorem ipsum dolor, sit amet consecteturtempora eum.Lorem
        ipsum dolor, sit amet consectetur adipisicing elit. Assumenda doloribus
        voluptate dolor recusandae asperiores quas repudiandae, quis autem minus
        quisquam alias optio in excepturi architecto illum neque expedita
        tempora eum.Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Assumenda doloribus voluptate dolor recusandae asperiores quas
        repudiandae, quis autem minus quisquam alias optio in excepturi
        architecto illum neque expedita tempora eum.Lorem ipsum dolor, sit amet
        consecteturtempora eum.Lorem ipsum dolor, sit amet consectetur
        adipisicing elit. Assumenda doloribus voluptate dolor recusandae
        asperiores quas repudiandae, quis autem minus quisquam alias optio in
        excepturi architecto illum neque expedita tempora eum.Lorem ipsum dolor,
        sit amet consectetur adipisicing elit. Assumenda doloribus voluptate
        dolor recusandae asperiores quas repudiandae, quis autem
      </p>
    </div>
    <%- include('../partials/footer') %>
  </body>
</html>
