<div class="footer">
  <span class="copyright"> &copy Developed by, Jason Grivas </span>

  <a class="footer-link" href="#">Contact Us</a>
  <a class="footer-link" href="https://github.com/JasonGri">
    Github
    <svg class="github-icon">
      <use href="/assets/imgs/svgIcons.svg#icon-github"></use>
    </svg>
  </a>

  <a
    class="footer-link"
    href="https://www.linkedin.com/in/jason-grivas-b94b7b212/"
  >
    Linked In
    <svg class="github-icon">
      <use href="/assets/imgs/svgIcons.svg#icon-linkedin"></use>
    </svg>
  </a>
</div>
