<nav class="navbar">
  <div class="brand">
    <span>Polarfeed</span>
    <svg class="camera-icon">
      <use href="/assets/imgs/svgIcons.svg#icon-camera"></use>
    </svg>
  </div>
  <button onclick="location.href='/'" class="nav-link">Home</button>
  <button onclick="location.href='#'" class="nav-link">Feed</button>
  <button onclick="location.href='#'" class="nav-link">Profile</button>
  <button onclick="location.href='#'" class="nav-link">About</button>
  <button id="signInBtn" class="nav-link">Sign In</button>
  <button id="signUpBtn" class="nav-link">Sing Up</button>
</nav>
